/* ----------------- These first CSS are only for dev --------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans-serif !important;
}

button,
input,
select,
textarea {
    font-family: Roboto, sans-serif !important;
}

:root {
    --markiter-accent-color: #222 !important;
}
.site-title {
    font-size: 2em !important;
    color: #222 !important;
}

@media screen and (min-width: 1062px) {
    .entry-content > * {
        max-width: 80% !important;
    }
}

/* ----------------- END OF UNNECESSARY CSS --------------------------------*/

/* Media Queries, expand once we have No Format theme */
@media screen and (min-width: 768px) {
    /* .entry-content > * {
        max-width: 80% !important;
    } */
    .wpsd-wrapper-content .flex-column {
        flex: 1;
    }
    .wpsd-wrapper-content label {
        font-size: 0.8em;
    }
}

/* Auto-fill on forms */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 2em;
}

.bg-grey {
    background-color: #f8f8f8;
}
.nudge-pad {
    padding: 2em;
}

.nudge-pad-no-top {
    padding: 0em 2em 2em 2em;
}

.wpsd-metadata {
    padding: 0.4em 0.2em;
    font-size: 0.6em;
    font-weight: bold;
}

/* MASTER RAPPER YO */
.wpsd-master-wrapper input,
.wpsd-master-wrapper select,
.wpsd-master-wrapper textarea {
    margin: 0;
    color: #222;
    box-shadow: none;
}

.wpsd-master-wrapper .wpsd-wrapper-header {
    background: #222;
    padding: 20px 15px;
    text-align: center;
}

.wpsd-master-wrapper .wpsd-wrapper-header h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #222;
}

img.wpsd-form-banner {
    border: 0px solid #000;
    width: 100%;
    height: auto;
}

.wpsd-master-wrapper .wpsd-wrapper-content {
    text-align: left;
    /* border: 1px solid #222;
     background: #f3f3f3;
    padding: 0;
    border-radius: 0; */
}

.wpsd-wrapper-content .payment-title {
    font-size: 18px;
    font-weight: bold;
}

.wpsd-master-wrapper .wpsd-wrapper-content h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #222;
    margin: 0 0 15px;
}

.wpsd-donation-form-label {
    display: block;
    width: 100%;
    padding: 0 0 15px 0;
    height: auto;
    margin: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field {
    width: 100%;
    height: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border-radius: 0;
    display: block;
    font-size: 16px;
    letter-spacing: -0.015em;
    max-width: 100%;
    padding: 15px 0;
    border: 0;
    border-bottom: solid 1px #444;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field.other_amount {
    font-size: 1.4em;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-select-field {
    height: auto;
    outline: none;
    padding: 15px 0;
    color: #222;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
}

body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field {
    direction: rtl;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-text-field::placeholder {
    color: #222;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.wpsd-master-wrapper
    .wpsd-wrapper-content
    #wpsd-donation-form-id
    #wpsd_donate_other_amount {
    border: 0;
    border-bottom: solid 1px #bebdbd;
    background: transparent;
    padding: 13px 0;
    color: #222;
    font-size: 20px;
}
.wpsd-master-wrapper
    .wpsd-wrapper-content
    #wpsd-donation-form-id
    #wpsd_donate_other_amount_wrapper {
    position: relative;
}
.wpsd-master-wrapper
    .wpsd-wrapper-content
    #wpsd-donation-form-id
    #wpsd_donate_other_amount_wrapper::after {
    content: '\f058';
    font-weight: 400;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    bottom: 25px;
    right: 0;
    color: #fff;
}
.wpsd-master-wrapper
    .wpsd-wrapper-content
    #wpsd-donation-form-id
    #wpsd_donate_other_amount_wrapper.bg-white::after {
    /* color: #a50034; */
}

.wpsd-master-wrapper
    .wpsd-wrapper-content
    #wpsd-donation-form-id
    #wpsd_donate_other_amount.disabled,
.wpsd-master-wrapper .wpsd-wrapper-content #wpsd-donation-form-id .disabled {
    background: #dcdad1;
    border: none;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_in_memory_of_con {
    width: 100%;
    display: none;
    text-align: left;
    /* padding-left: 0; */
    height: auto;
    /* margin: 0px; */
}

body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_in_memory_of_con {
    text-align: right;
}
.wpsd_flex_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wpsd_flex_left_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.wpsd_flex_con.wpsd_is_recurring_wrapper .wpsd_flex_item {
    padding: 0;
    width: auto;
    flex-grow: 1;
}

.wpsd_flex_con.wpsd_is_recurring_wrapper .wpsd_radio_btn_con .label_text {
    padding: 12px 5px;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    text-align: center;
}
.wpsd_flex_con.wpsd_is_recurring_wrapper
    .wpsd_radio_con
    input:checked
    ~ .label_text {
    border-bottom: 0;
}
.wpsd_flex_con.wpsd_is_recurring_wrapper
    .wpsd_radio_con:hover
    input
    ~ .label_text {
    font-weight: 900;
    border-bottom: 0;
}
.wpsd_flex_con.wpsd_is_recurring_wrapper
    .wpsd_radio_con
    input:checked
    ~ .label_text {
    font-weight: 900;
}

.wpsd_flex_con.bg-white {
    background: #fff;
    padding: 30px;
    border-radius: 0;
}

.wpsd_flex_item.wpsd_radio_btn_con {
    width: 48%;
}
.wpsd_flex_item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px 0;
}
.w-100 {
    width: 100%;
}

body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_flex_item {
    padding: 0 5px 5px 5px;
}
.wpsd_select_label {
    width: 100%;
    text-align: left;
    padding: 8px 0;
    margin: 0;
}
body.rtl .wpsd-master-wrapper .wpsd-wrapper-content .wpsd_select_label {
    text-align: right;
    padding-left: 8px;
    padding-right: 0;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_donator_country_con select,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_state_con select {
    width: 100%;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con label,
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd_is_recurring_con input {
    display: inline-block;
}

.wpsd-master-wrapper .btn,
.wpsd-master-wrapper button[type='submit'],
.wpsd-master-wrapper input[type='submit'] {
    border: none;
    line-height: 4em;
    text-transform: uppercase;
    text-align: right;
    color: #222;
    width: 100%;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    outline: none;
    background: #e6fa05;
    margin: 0;
    border-radius: 0;
}
.wpsd-donation-sponsor-volume {
    font-size: 13px;
    border: #a50034 solid 1px;
    border-radius: 0;
    padding: 5px 10px;
    margin: -10px 0 0 0 !important;
    color: #a50034;
    text-transform: uppercase;
    text-align: center;
}

.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-donate-button.disabled:hover {
    cursor: not-allowed;
}
.wpsd-master-wrapper .wpsd-wrapper-content .wpsd-total-donation-today {
    margin: 10px 0;
    color: #798096;
    font-size: 12px;
    line-height: 18px;
}

.wpsd-master-wrapper
    .wpsd-wrapper-content
    .wpsd-total-donation-today
    span#wpsd-total-donation-number {
    color: #ff0000;
}

/* alert started */
body.rtl .wpsd-wrapper-content {
    direction: rtl;
}

/* .wpsd-wrapper-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.wpsd-alert {
    color: white;
    display: inline-block;
    width: 80%;
    height: auto;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 0;
    transition: all 0.3s linear;
    padding: 5% 10%;
    margin: 10px 0 20px;
}
.wpsd-alert ul {
    margin-bottom: 0;
    padding: 0;
}
.wpsd-alert ul li {
    margin: 0;
    padding: 0;
    text-align: left;
}

body.rtl .wpsd-alert ul li {
    text-align: right;
}

.wpsd-alert.success {
    background-color: #a50034;
}

.wpsd-alert.error {
    background-color: #a50034;
}

.wpsd-alert.warning {
    background-color: #ffaa2b;
}

/* alert ended */

.wpsd-wrapper-content .dashicons,
.dashicons-before::before {
    font-size: 12px;
    line-height: 46px;
}

/* ==== Custom Radio === */
.wpsd_radio_con {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: #222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    flex-grow: 0;
}

.wpsd_radio_con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.wpsd_radio_btn_con .label_text,
.wpsd_radio_con .label_text {
    padding: 0.4em 0;
}
/* On mouse-over, add a grey background color */
.wpsd_radio_con:hover input ~ .label_text {
    /* color: #a50034; */
    border-bottom: #222 solid 2px;
}

/* When the checkbox is checked, add a blue background */
.wpsd_radio_con input:checked ~ .label_text {
    /* color: #a50034; */
    border-bottom: #222 solid 2px;
}
.other_amount_radio_con {
    width: 100%;
}
.other_amount_radio_con .label_text {
    display: block;
    width: 100%;
    margin: 0px;
}

#card-element {
    padding: 20px 0;
    border: 0;
    border-bottom: solid 1px #bebdbd;
}
.wpsd_card_label_con {
    font-size: 16px;
    text-align: left;
    padding-bottom: 0;
}
body.rtl .wpsd_card_label_con {
    text-align: right;
}

.wpsd-donation-message-con {
    transition: all 0.3s linear;
}
.message-hidden {
    height: 0px;
    padding: 0;
    transition: all 0.3s linear;
}

.wpsd_card_agreement {
    font-size: 13px;
    font-style: italic;
    margin: 0px;
}

/*  */
